body {
    padding-top: 70px;
}

.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
}

.material-icons {
  vertical-align: middle;
}
.material-icons.lightred {
  color: #F9453D;
}
.material-icons.lightgreen {
  color: #4CAF50;
}
.md-10{
	font-size: 10px !important ;
}
.md-16{
	font-size: 16px !important ;
}

/* label color */

.input-field label {
  color: #616161;
}
/* label focus color */

.input-field input[type=text]:focus+label {
  color: #616161;
}
/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}
/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}
/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}

  .input-field input[type=password]:focus+label {
  color: #616161;
}
/* label underline focus color */

.input-field input[type=password]:focus {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}
/* valid color */

.input-field input[type=password].valid {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}
/* invalid color */

.input-field input[type=password].invalid {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}

.input-field input[type=email]:focus+label {
  color: #616161;
}
/* label underline focus color */

.input-field input[type=email]:focus {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}
/* valid color */

.input-field input[type=email].valid {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}
/* invalid color */

.input-field input[type=email].invalid {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}
/* icon prefix focus color */

.input-field .prefix.active {
  color: #616161;
}
